name: Splunk AppInspect API
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
    types: 
      - ready_for_review
      - review_requested
jobs:
  cloud_compliance:
    runs-on: ubuntu-latest
      steps:
        step1:
            - uses: splunk/appinspect-api-action@v2
              with:
                  filePath: ./dist/myapp.tar.gz
                  splunkUser: ${{ secrets.SPLUNKBASE_USER }}
                  splunkPassword: ${{ secrets.SPLUNKBASE_PASSWORD }}
                  includedTags: cloud
                  failOnError: true
                  failOnWarning: true
